#season1 {
    background: linear-gradient(to right, #160572, #0e0133); /* Light red gradient */
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);}
    h1{
        color: #ffffff; font-size: xx-large;
    }
    h2 { color: #ffffff; font-size: x-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
   h3 {color: #000000; font-size: x-large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;}  
h4 {color: #000000; font-size: x-large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;} 
